
/* Animazione Keyframes */
@keyframes heartbeat {
    0%

{
    transform: scale(0);
}

25% {
    transform: scale(1.2);
}

50% {
    transform: scale(1);
}

75% {
    transform: scale(1.2);
}

100% {
    transform: scale(1);
}

}

/* Stili del corpo del documento */
/*body {
    color: #ffffff;
    background-color: #27292d;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 1200px;
}*/

/* Contenitore Slider */
.slider-container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 800px;
}

/* Contenitore dei pallini di navigazione */
.bullet-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pallini di navigazione */
.bullet {
    margin-right: 14px;
}

    .bullet:last-child {
        margin-right: 0px;
    }

.bullet {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: darkgrey;
    opacity: 0.5;
}

/* Contenuto Slider */
.slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%, -50%);
}

/* Singolo Slider */
.slider-single {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: z-index 0ms 250ms;
}

/* Immagine Singolo Slider */
.slider-single-image {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
    opacity: 0;
}

/* Pulsante di download nel singolo slider */
.slider-single-download {
    position: absolute;
    display: block;
    right: -22px;
    bottom: 12px;
    padding: 15px;
    color: #333333;
    background-color: #fdc84b;
    font-size: 18px;
    font-weight: 600;
    font-family: 'karla';
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

/* Titolo nel singolo slider */
.slider-single-title {
    display: block;
    float: left;
    margin: 16px 0 0 20px;
    font-size: 20px;
    font-family: 'karla';
    font-weight: 400;
    color: #ffffff;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

/* Mi piace nel singolo slider */
.slider-single-likes {
    display: block;
    float: right;
    margin: 16px 20px 0 0;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

    .slider-single-likes i {
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        color: #ff6060;
        /*transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
        transform: scale(0);*/
    }

    .slider-single-likes p {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        color: #ffffff;
    }

/* Stili per gli slider attivi, preattivi e proattivi */
.slider-single.preactivede .slider-single-image {
    transform: translateX(-50%) scale(0);
}

.slider-single.preactive {
    z-index: 1;
}

    .slider-single.preactive .slider-single-image {
        opacity: 0.3;
        transform: translateX(-25%) scale(0.8);
    }

    .slider-single.preactive .slider-single-download {
        transform: translateX(-150px);
    }

    .slider-single.preactive .slider-single-title {
        transform: translateX(-150px);
    }

    .slider-single.preactive .slider-single-likes {
        transform: translateX(-150px);
    }

.slider-single.proactive {
    z-index: 1;
}

    .slider-single.proactive .slider-single-image {
        opacity: 0.3;
        transform: translateX(25%) scale(0.8);
    }

    .slider-single.proactive .slider-single-download {
        transform: translateX(150px);
    }

    .slider-single.proactive .slider-single-title {
        transform: translateX(150px);
    }

    .slider-single.proactive .slider-single-likes {
        transform: translateX(150px);
    }

.slider-single.proactivede .slider-single-image {
    transform: translateX(50%) scale(0);
}

.slider-single.active {
    z-index: 2;
}

    .slider-single.active .slider-single-image {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }

    .slider-single.active .slider-single-download {
        opacity: 1;
        transition-delay: 100ms;
        transform: translateX(0px);
    }

    .slider-single.active .slider-single-title {
        opacity: 1;
        transition-delay: 200ms;
        transform: translateX(0px);
    }

    .slider-single.active .slider-single-likes {
        opacity: 1;
        transition-delay: 300ms;
        transform: translateX(0px);
    }

/* Pulsante sinistro e destro */
.slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 100%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 3px solid darkgrey;
    border-right: 3px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    border-left: 3px solid darkgrey;
    margin-right: -2px;
    border-radius: 0.5em;
}
    .slider-left:hover{
        color: goldenrod;
    }

.slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 100%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 3px solid darkgrey;
    border-right: 3px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    border-left: 3px solid darkgrey;
    margin-left: -2px;
    border-radius: 0.5em;
}

    .slider-right:hover{
        color: goldenrod;
    }


